# Talk to bot father
# Turn off privacy so this bot can read other bots messages
# Get token
TELEGRAM_BOT_TOKEN=

# Go on Twitter dev portal
TWITTER_BEARER_TOKEN=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_KEY_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=

