# Talk to bot father
# Turn off privacy so this bot can read other bots messages
# Get token
TELEGRAM_BOT_TOKEN=

# Go on Twitter dev portal
TWITTER_CONSUMER_KEY=
TWITTER_SECRET_KEY=
TWITTER_BEARER_TOKEN=